notibadge .icon-button {
  position: relative;
  align-items: center;
  justify-content: center;
  color: #333333;
  background: none;
  border: none;
  outline: none;
  margin-top: 15%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  color: #ff0000;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
/* <<<<<<< HEAD:src/components/NavMenu.css
======= */

@media (max-width: 575px) {
  .icon-button {
    display: none;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
    background-image: url('https://sv1.picz.in.th/images/2023/04/18/mySljl.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .icon-button {
    display: flex;
  }
}

/* nav bar */

#navLeft {
  border-right: 0.1rem solid #8d8d8d35;
}

#navRight {
  border-left: 0.1rem solid #8d8d8d35;
}

.container-fluid {
  margin: 0.5%;
}

/* notibadge */
.icon-button {
  position: relative;
  align-items: center;
  justify-content: center;
  color: #333333;
  background: none;
  border: none;
  outline: none;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  color: #ff0000;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#profileIMG {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.profile {
  justify-items: center;
}

#editInfo {
  float: right;
}

.Info {
  align-items: center;
}
/* >>>>>>> front:wwwroot/css/site.css */
