@{
    ViewData["Title"] = "Home Page";
}

@* index *@

<div class="container-fluid">
    <div class="row">
      <div class="col text-center" id="navLeft">
        <div class="profile">
          <img id="profileIMG" src="https://sv1.picz.in.th/images/2023/04/22/yz2U39.jpg">
          <div class="Info">
            <p>
              <span id="editInfo"><span class="material-symbols-outlined" style="font-size: 1em;">edit</span> edit</span><br />
              <span id="nameInfo">Name Name<span><br />
              <span id="telInfo">088-888-8888<span><br />
              </p>
          </div>
        </div>
      </div>
      <div class="col-8 text-center" id="navCenter">
        text2
      </div>
      <div class="col text-center" id="navRight">
        text3
      </div>
    </div>
</div>