body.HOME {
  background-image: url('https://sv1.picz.in.th/images/2023/04/27/yZ7ifN.png');
  font-family: "Mitr", sans-serif;
  background-position: left bottom; 
}  


/* xs */
@media (max-width: 375px) {

  #navLeft {
    border-bottom: 0.1rem solid #8d8d8d36;
  }

  .Info {
    margin-top: 10%;
  }

  #navRight {
    padding-top: 10%;
    border-top: 0.1rem solid #8d8d8d36;
    padding-bottom: 10%;
  }

  #compo {
    width: 280px;
    height: 250px;
    margin: 2%;
  }

  .photoCol {
    width: 20%;
  }

  #Fak, #Rub {
    height: 190px;
  }

  #Get {
    display: none;
  }

  #navCenter {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  }


  /* md ipad */
  @media (max-width: 991px) and (min-width: 768px ) {
    #navCenter {
      border-left: 0.1rem solid #8d8d8d36;
      border-right: 0.1rem solid #8d8d8d36;
      margin: auto;
      margin-top: 5%;
    }
    #navLeft, #navRight {
      position: fixed;
    }

    #compo {
      width: 150px;
      height: 200px;
    }

    .plus{
        width: 100%;
    }

    .photoCol {
      width: 23%;
      height: 63%;
      margin-top: -5%;
    }

    #Fak, #Rub {
      height: 250px;
    }


    body.HOME {
      background-size: 170%;
    }
    
    #navRight, #navLeft {
      margin-top: 15%;
    }

  }

   /* lg */
   @media (max-width: 1199px) and (min-width: 992px ) {
    #navCenter {
      border-left: 0.1rem solid #8d8d8d36;
      border-right: 0.1rem solid #8d8d8d36;
      margin: auto;
    }
    #navLeft, #navRight {
      position: fixed;
    }

    #compo {
      width: 350px;
      height: 300px;
      margin: 2%;
    }
    .plus{
      width: 70%;
      max-width: 200px;
      margin-top: 10px;
  }
  .photoCol {
    width: 23%;
    height: 60%;}

    #Fak, #Rub {
      height: 250px;
    }
    #navRight {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
    }


   }
  
    /* xl */
  @media (max-width: 1399px) and (min-width: 1200px ) {
    #navCenter {
      border-left: 0.1rem solid #8d8d8d36;
      border-right: 0.1rem solid #8d8d8d36;
      margin: auto;
    }
    #navLeft, #navRight {
      position: fixed;
    }
    #compo {
      width: 350px;
      height: 300px;
      margin: 2%;
    }
    .plus{
      width: 70%;
      max-width: 200px;
      margin-top: 10px;
  }
  .photoCol {
    width: 23%;
    height: 60%;}

    #Fak, #Rub {
      height: 250px;
    }
    #navRight {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
    }


  }

   /* xxl */
  @media (min-width: 1400px ) {

    #navCenter {
      border-left: 0.1rem solid #8d8d8d36;
      border-right: 0.1rem solid #8d8d8d36;
      margin: auto;
    }

    #navLeft, #navRight {
      position: fixed;
    }
    
    #compo {
      width: 370px;
      height: 300px;
      margin: 2%;
      justify-content: center;
    }
    .plus{
      width: 70%;
      max-width: 200px;
      margin-top: 10px;
  }

  .photoCol {
    width: 20%;
    height: 55%;
  }

  #Fak, #Rub {
    height: 200px;
  }

  #navRight {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
  }



}
  
  #profileIMG {
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
  }

  .material-symbols-outlined, #editInfo {
    color: #8D8D8D;
  }

  #navLeft {
    left: 0;
    margin: auto;
  }
  
  #navRight {
    right: 0;
    background-color: white;
    border-radius: 20px;
  }

  /* component */

  
  #compo {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #00000049;
    border-radius: 30px;
    padding: 0;
    float: left;
    margin: 1rem;

  }

  .picCom {
    width: 100%; 
    height: 60%; 
    border-radius: 10px; 
    object-fit: cover;
    margin-bottom: 2%;
  }

  .plus {
    float: right; 
  }

  .photoCol {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    float: left;
    margin-left: 10%;
    margin-left: 5%;
    object-fit: cover;
  }

  /* NAV LEFT */
  #HomeButton {
    margin-bottom: 5%;
  }

  #StatusButton {
    margin-bottom: 5%;
  }

  #HomeIconButton {
    width: 11%;
    margin-right: 10%;
  }

  #StatusIconButton {
    width: 13%;
    margin-right: 8%;
    
  }

    
    #content {
      margin-top: 5%;
    }


    #Get {
      bottom: 0;
      background: linear-gradient(to bottom,#F87880, #ff0000);
      color: #ffffff;
      border-radius: 10px;
      cursor: pointer;
      border-color: transparent;
      width: 100%;
    }

    /* right */
  

    hr {
      width: 80%;
      
    }

    
    
    #view {
      float: right;
      color: #00000093;
      text-decoration: none;
    }

    body.HOME::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
    }
    
    body.HOME::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #ff000d;
    }
    
    body.HOME::-webkit-scrollbar-thumb:hover {
      background-color: #d5000b;
    }

  