html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* nav bar */

#navLeft {
  border-right: 0.1rem solid #8D8D8D;
}

#navRight {
  border-left: 0.1rem solid #8D8D8D;
}

.container-fluid {
  margin: 0.5%;
}

/* notibadge */
.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background: none;
  border: none;
  outline: none;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  color: #FF0000;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}